In [1]:
dict1 = {}

In [2]:
type(dict1)

dict

In [3]:
# Create dictionary
dict1 = {'Id':10,
     'Name':'Peter',
     'Age':30,
     'Movies': ['Spider_Man','Avenger Endgame']
     }

In [4]:
dict1

{'Id': 10,
 'Name': 'Peter',
 'Age': 30,
 'Movies': ['Spider_Man', 'Avenger Endgame']}

- Accessing values from keys

In [5]:
dict1['Name']

'Peter'

In [6]:
dict1['Movies']

['Spider_Man', 'Avenger Endgame']

In [7]:
dict1['Age']

30

- Creating dictionary from two lists

In [8]:
# Example 1
keys = ['Sam','Pepper','Mary','Alexa','David','Martin']
values = [85,78,69,74,88,73]

In [9]:
score = dict(zip(keys,values))
score

{'Sam': 85, 'Pepper': 78, 'Mary': 69, 'Alexa': 74, 'David': 88, 'Martin': 73}

In [10]:
score['Pepper']

78

In [11]:
score['Martin'],score['David']

(73, 88)

In [12]:
# Example 2
states = ['Maharashtra','Kerala','UP','Telangana','Karnataka']
capitals = ['Mumbai','Trivandrum','Lucknow','Hyderabad','Bangalore']

In [13]:
India = dict(zip(states,capitals))

In [14]:
India

{'Maharashtra': 'Mumbai',
 'Kerala': 'Trivandrum',
 'UP': 'Lucknow',
 'Telangana': 'Hyderabad',
 'Karnataka': 'Bangalore'}

In [15]:
India['Maharashtra']

'Mumbai'

In [16]:
India.get('UP')

'Lucknow'

In [17]:
India.get('Kerala')

'Trivandrum'

- If key is not in dictionary, then it shows Key Error
- To handle with key error, use if statements

In [18]:
if India.get('Delhi') == None:
    print('Not Found in Dictionary')

Not Found in Dictionary

In [19]:
India.get('Delhi','Not Found in Dictionary'), India.get('Telangana','Not Found in Dictionary')

('Not Found in Dictionary', 'Hyderabad')

- Insert item in list

In [20]:
India['TN'] = 'Chennai'

In [21]:
India

{'Maharashtra': 'Mumbai',
 'Kerala': 'Trivandrum',
 'UP': 'Lucknow',
 'Telangana': 'Hyderabad',
 'Karnataka': 'Bangalore',
 'TN': 'Chennai'}

- Remove items

In [22]:
# remove last item
India.popitem()

('TN', 'Chennai')

In [23]:
India.popitem()

('Karnataka', 'Bangalore')

In [24]:
# Remove using Key
India.pop('UP')

'Lucknow'

In [25]:
India

{'Maharashtra': 'Mumbai', 'Kerala': 'Trivandrum', 'Telangana': 'Hyderabad'}

In [26]:
# Remove all items
India.clear()

In [27]:
India

{}

In [28]:
# Example 3
keys = 'Numbers'
values = ('One','Two','Three','Four','Five','Six','Seven')

In [29]:
d1 = dict(zip(keys,values))
d1

{'N': 'One',
 'u': 'Two',
 'm': 'Three',
 'b': 'Four',
 'e': 'Five',
 'r': 'Six',
 's': 'Seven'}

In [30]:
# change value of key
d1['u'] = 2

In [31]:
d1['e'] = 5

In [32]:
d1

{'N': 'One',
 'u': 2,
 'm': 'Three',
 'b': 'Four',
 'e': 5,
 'r': 'Six',
 's': 'Seven'}

### Common Methods

#### a. len

In [33]:
## Dictionary
d1

{'N': 'One',
 'u': 2,
 'm': 'Three',
 'b': 'Four',
 'e': 5,
 'r': 'Six',
 's': 'Seven'}

In [34]:
len(d1)

7

In [35]:
## List
states

['Maharashtra', 'Kerala', 'UP', 'Telangana', 'Karnataka']

In [36]:
len(states)

5

In [73]:
## Tuple
values

('One', 'Two', 'Three', 'Four', 'Five', 'Six', 'Seven')

In [74]:
len(values)

7

#### b. Membership Operator

In [39]:
'One' in values , 'Eight' in values

(True, False)

In [41]:
'One' not in values , "Eight" not in values

(False, True)

In [42]:
'Delhi' in states , 'Delhi' not in states

(False, True)

In [43]:
'Maharashtra' in states,  'Gujrat' in states

(True, False)

- Copy a dictionary

In [73]:
d1 = {10:'Ten', 20:'Twenty',30:'Thirty'}
d1

{10: 'Ten', 20: 'Twenty', 30: 'Thirty'}

In [74]:
d2 = d1
d2

{10: 'Ten', 20: 'Twenty', 30: 'Thirty'}

In [75]:
# change value of a key
d1[10] = 10.0

In [76]:
d1

{10: 10.0, 20: 'Twenty', 30: 'Thirty'}

In [77]:
# chenged value is auto updating in d2 dictionary
d2

{10: 10.0, 20: 'Twenty', 30: 'Thirty'}

In [78]:
d1 = {10:'Ten', 20:'Twenty',30:'Thirty'}
d1

# To stop auto update, use copy()
d3 = d1.copy()

In [79]:
d3

{10: 'Ten', 20: 'Twenty', 30: 'Thirty'}

In [80]:
d1[20] = 20.0

In [81]:
d1

{10: 'Ten', 20: 20.0, 30: 'Thirty'}

In [67]:
d3

{10: 10.0, 20: 'Twenty', 30: 'Thirty'}

In [90]:
## Identity Operator

In [82]:
d1 = {10:'Ten', 20:'Twenty',30:'Thirty'}
d1

{10: 'Ten', 20: 'Twenty', 30: 'Thirty'}

In [83]:
d2 = {10:'Ten', 20:'Twenty',30:'Thirty'}
d2

{10: 'Ten', 20: 'Twenty', 30: 'Thirty'}

In [84]:
# Equality
d1 == d2

True

In [85]:
# Identity
d1 is d2

False

In [86]:
d3 = d1

In [87]:
d3 == d1

True

In [88]:
d3 is d1

True

In [89]:
id(d3)

2071902613568

In [90]:
id(d1)

2071902613568