### Print() function

In [1]:
print('Hello Python')

Hello Python

In [2]:
#Return a value
print()
x=23
# Two objects are passed in print() function
print('x=',x)

x= 23

In [3]:
# Taking a input from user (bydefault input() function take input in string format)
name= input('Enter your name: ')
print('Name: ',name)

Enter your name: Bhushan
Name:  Bhushan

In [4]:
# Taking input as integer number 
a=int(input('Enter a first number: '))
b=int(input('Enter a second number: '))
print('a+b: ',a+b)

Enter a first number: 7
Enter a second number: 3
a+b:  10

### help()- to find uses of builtin functions

In [5]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

# Data Types:
### Immutable (no chage in values after completing a object)
- 1) Numbers
- 2) Strings
- 3) Touples

### Mutable ( values can be change after performing operation on it )
- 4) List
- 5) Dictionary
- 6) Set

### 1)Numbers

In [6]:
x=['a','b','c','d','bhushan']

In [7]:
#indexing- used to find value of a index position
x[4]

'bhushan'

In [8]:
x[2:5]

['c', 'd', 'bhushan']

In [9]:
x[-1]

'bhushan'

In [10]:
x[-3:]

['c', 'd', 'bhushan']

In [11]:
x[:-3]

['a', 'b']

In [12]:
x[::-1]

['bhushan', 'd', 'c', 'b', 'a']

In [13]:
String='Hello World'
String

'Hello World'

In [14]:
String[1:]

'ello World'

### 2)Strings

In [15]:
#Concatination
'Python'+'Tutorial'

'PythonTutorial'

In [16]:
#Repitition
'Python'*2

'PythonPython'

In [17]:
#Slicing
string1="Python"
string1[2:6]

'thon'

In [18]:
#Indexing
string1[-1]+string1[1]

'ny'

In [19]:
a='Bhushan'

In [20]:
#find()- To find a specific string
a.find('a')

5

In [21]:
#Replace()- to replace a specific string
a.replace('B','b')

'bhushan'

In [22]:
#split()- To split every string
b='a,b,c,d,e,f'
b.split(',')

['a', 'b', 'c', 'd', 'e', 'f']

In [23]:
#count()- To count how many times a string repeated in list. 2,6 reperesnt the range of index.
a.count('h',2,6)

1

In [24]:
#isalpha()- To check all values of string are Alphbets or not. (make sure that string does not contains space between words)
a.isalpha()

True

In [25]:
#upper()- To convert a string into Uppercase
a.upper()

'BHUSHAN'

In [26]:
#max()- To find highest (according to A-Z sequence) string in data set
max(a)

'u'

In [27]:
#min()- To find smallest (according to A-Z sequence) string in data set
min(a)

'B'

### 3)Tuples
- It is a immutable object (immpossible to change the values assigned in the array)
- It is defined using curve brackets

In [28]:
a=('a','b','c','d')

In [29]:
#Repitition- To repeat the array two times
a*2

('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

In [30]:
#Slicing- To get a slice of given data set
a[1:3]

('b', 'c')

In [31]:
#Indexing- To get the specified index value
a[3]

'd'

### 4) List
- It is a mutable object (values can be changed assigned in array)
- It is defined using square brackets

In [32]:
a=['1','a','b','43','Bhushan']
b=['34','Pawar']

In [33]:
#Repitition- To repeat the list two times
a*2

['1', 'a', 'b', '43', 'Bhushan', '1', 'a', 'b', '43', 'Bhushan']

In [34]:
#Slicing- To get a slice of given data set
a[-5:4]

['1', 'a', 'b', '43']

In [35]:
#Indexing- To get the specified index value
a[-5]

'1'

In [36]:
#append() -used to extend only one value at end of data set
a.append('e')
a

['1', 'a', 'b', '43', 'Bhushan', 'e']

In [37]:
#extend() - To extend one data set with another one.
a.extend(b)
a

['1', 'a', 'b', '43', 'Bhushan', 'e', '34', 'Pawar']

In [38]:
#insert(Index,'value') -To insert a value at specific index position
a.insert(4,'h')
a

['1', 'a', 'b', '43', 'h', 'Bhushan', 'e', '34', 'Pawar']

In [39]:
#pop() -To delete a specified index value from given data set
a.pop(3)
a

['1', 'a', 'b', 'h', 'Bhushan', 'e', '34', 'Pawar']

In [40]:
#len() -To find how long is the data set
len(a)

8

In [41]:
#index() -To find the index number of specific string
a.index('a')

1

### 5) Dictionary

In [42]:
# To get a empty dictionary
myDict={}

In [43]:
# Dictionary with keys(integer) and values
myDict={1:'monday',2:'tuesday',3:'wednesday',4:'thursday'}

In [44]:
# Dictionary with keys(integer and string) and values
myDict1={'name':'Ram',1:[65,34,74]}

In [45]:
#myDict[] -To access assigned dictionary for specific key
myDict[3]

'wednesday'

In [46]:
#len() -To get the lenght of dictionary
len(myDict)

4

In [47]:
#keys() -To get list of keys from dictionary
myDict.keys()

dict_keys([1, 2, 3, 4])

In [48]:
#values() -To get list of values from dictionary
myDict.values()

dict_values(['monday', 'tuesday', 'wednesday', 'thursday'])

In [49]:
#items -To get all items of dictionary
myDict.items()

dict_items([(1, 'monday'), (2, 'tuesday'), (3, 'wednesday'), (4, 'thursday')])

In [50]:
#pop() -To remove specific key
myDict.pop(4)

'thursday'

### 6) Set
- unordered collection of items
- elements are not repeated

In [51]:
#creating a set
a={1,2,3,4,5,3,'d','c','g'}
b={'a','c',3,2,5,'d','z','e'}

In [52]:
#Union -To merge two data sets in ascending order
a|b

{1, 2, 3, 4, 5, 'a', 'c', 'd', 'e', 'g', 'z'}

In [53]:
#intersection() -To intersect the common items from given data sets
a&b

{2, 3, 5, 'c', 'd'}

In [54]:
# difference -To differntiate two data set and gives remaining values from 1st data set
a-b

{1, 4, 'g'}